body {
  background-image: url('foto/zdjecie-start-alfa-giulia.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

body.index-1 {
  background-image: url('foto/wyscigi-sprint.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

body.index-film-promocyjny{
  margin: 0;
  padding: 0;
  position: relative;
}

body.index-galeria-zdjec
{
  background: black;
}
.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 100px;
}

.gallery-item {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

.full-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.full-image-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.full-image {
  max-width: 90%;
  max-height: 90%;
}

.navigation-buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.navigation-buttons button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.hidden {
  display: none;
}




.filmpromo {
  position: relative;
  z-index: 0;

}



.filmpromo h1
{
  font-size: 36px;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 25px;
}


.filmpromo h3
{
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  color: white;
  font-size: 24px;
  margin-left: 0;
  text-align: left;
  line-height: 40px;
  border-radius: 25px;
}



body.index-film-promocyjny {
  height: 100vh;
  margin: 0;
  position: relative;
  overflow: hidden; /* Zapobiega przewijaniu, jeśli film wykracza poza wysokość ekranu */
}

#video-container {
  position: absolute;
  top: 40%;
  left: 25%;
  right: 0;
  transform: translateY(-50%);
  width: 50%;
  height: 50%;

}

#video {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

body.index-1-player-1
{
  background-color: black;
}


*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 3rem;
  background: #1E4766;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.menu a {
  margin: 0 1rem;
  text-decoration: none;
  padding: 1rem .5rem;
}

.dropdown {
  position: relative;
}

.dropdown ul {
  width: 250px;
  text-align: center;
  position: absolute;
  background: #4F8AB8;
  padding: 0;
  list-style-type: none;
  box-shadow: 0px 0px 23px 0px rgba(0,0,0,25);
  margin-top: 10px;
  border-radius: 7px;
  display: none;
}

.dropdown ul li {
  padding: .5rem;
}

.dropdown ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.dropdown ul li:hover {
  background: #4B6980;
  border-radius: 7px;
}

.dropdown a:focus + ul,
.dropdown a:hover + ul,
.dropdown ul:hover {
  display: block;

}
.rounded-image {
  border-radius: 5%;
}

.picture-link {
  margin-top: 110px;
  display: grid;
  grid-gap: 10px;
  transition: all 0.5s ease;
}

.picture-link .rounded-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 600px) {
  .picture-link {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .picture-link {
    grid-template-columns: repeat(4, 1fr);
  }
}

.picture-link img {
  width: 550px;
  height: 300px;

}

video {
  width: auto;
  height: auto;
  background: black;
}

/* Podstawowe style */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}
